<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game Finished</title>
</head>
<body>
    <div align="center">
        <h1 id="game-title">Guess the number game</h1>
        <h2 id="game-over">Game Over</h2>
        <h3 id="result-message">
            Result message content
        </h3>
        <h3>
            <a id="restart-game">
                Play Again
            </a>
        </h3>

        <h3>
            <a id="home-after-reset">
                Home
            </a>
        </h3>
        <footer id="footerId">
            <p>Created by the LPA</p>
        </footer>
    </div>
</body>
</html>